In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
2 + 3 * 5 + 5

22

In [8]:
(2 + 3) * (5 + 5)

50

In [9]:
4 % 2

0

In [10]:
5 % 2

1

In [11]:
8 % 2

0

In [12]:
var = 2

In [13]:
vsr

NameError: name 'vsr' is not defined

In [14]:
var

2

In [15]:
x = 2
y = 3

In [16]:
x + y

5

In [17]:
x = x+x

In [18]:
x

4

In [19]:
x = x+x

In [20]:
x

8

In [22]:
# Strings COMMENT

In [23]:
'single quote'

'single quote'

In [24]:
"this is a string"

'this is a string'

In [25]:
"I can't go"

"I can't go"

In [27]:
x = 'hello'

In [28]:
x

'hello'

In [29]:
print(x)

hello

In [30]:
num = 12
name = 'Sam'

In [32]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [33]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is Sam

In [37]:
s = 'abcdefghijk'

In [39]:
s[0]

'a'

In [40]:
s[0:]

'abcdefghijk'

In [41]:
s[:3]

'abc'

In [43]:
s[3:6]

'def'

In [44]:
[1,2,3]

[1, 2, 3]

In [45]:
['a','b','c']

['a', 'b', 'c']

In [46]:
my_list = ['a', 'b', 'c']

In [47]:
my_list.append('d')

In [48]:
my_list

['a', 'b', 'c', 'd']

In [49]:
my_list[0]

'a'

In [50]:
my_list[1:3]

['b', 'c']

In [51]:
my_list[0] = 'NEW'

In [52]:
my_list

['NEW', 'b', 'c', 'd']

In [53]:
nest = [1,2,[3,4]]

In [56]:
nest

[1, 2, [3, 4]]

In [58]:
nest[2][1]

4

In [60]:
nest = [1,2,3,[4,5,['target']]]

In [61]:
nest[3]

[4, 5, ['target']]

nest[3][2][0]

In [62]:
nest[3][2][0]

'target'

In [63]:
print(nest[3][2][0])

target

In [66]:
d = {'key1':'value', 'key2':123}

In [67]:
d['key1']

'value'

In [68]:
d['key2']

123

In [69]:
d = {'k1':[1,2,3]}

In [70]:
d

{'k1': [1, 2, 3]}

In [71]:
d['k1'][1]

2

Alternate approach to accessing items in a dictionary

In [72]:
my_list = d['k1']

In [73]:
my_list[0]

1

In [74]:
d = {'k1':{'innerkey':[1,2,3]}}

In [76]:
d['k1']['innerkey'][1]

2

In [77]:
True

True

In [78]:
False

False

In [79]:
my_list = [1,2,3]

In [80]:
my_list[0]

1

In [81]:
t = (1,2,3)

In [82]:
t[0]

1

In [83]:
my_list[0] = 'NEW'

In [84]:
my_list

['NEW', 2, 3]

In [85]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

Tuples are immutable objects, meaning they cannot not changed.

A SET is a collection of unique elements.

In [86]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [87]:
set([1,1,1,2,2,2,3,3,3,5,5,5,6,6])

{1, 2, 3, 5, 6}

In [88]:
s = {1,2,3}

In [89]:
s.add(5)

In [90]:
s

{1, 2, 3, 5}

In [91]:
s.add(5)

In [92]:
s

{1, 2, 3, 5}

In [93]:
1 > 2

False

In [94]:
1 < 2

True

In [95]:
1 >= 2

False

In [96]:
1 <= 2

True

In [97]:
1 == 1

True

In [98]:
1 != 3

True

In [99]:
1 < 2 and 2 < 3

True

In [101]:
(1 < 2) and (2 > 3)

False

the and operator requires all conditions to be True

In [103]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [104]:
True and True

True

In [105]:
if 1 < 2:
    print('yep!')

yep!

In [108]:
if True:
    x = 2 + 2

In [109]:
x

4

In [112]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Middle

In [113]:
seq = [1,2,3,4,5]

In [116]:
for num in seq:
    print(num)

1
2
3
4
5

In [118]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [119]:
for x in seq:
    print(x)

1
2
3
4
5

In [120]:
range(0,5)

range(0, 5)

In [121]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [123]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [124]:
x = [1,2,3,4]

In [125]:
out = []

In [126]:
for num in x:
    out.append(num**2)

In [127]:
print(out)

[1, 4, 9, 16]

In [130]:
[num**2 for num in x]

[1, 4, 9, 16]

The above is what is referred to as a list comprehension.  Using list comprehensions, you can simplfy for loops in a single line, concise form of the same thing.

In [129]:
out

[1, 4, 9, 16]

In [135]:
def my_func(name='Default Name'):
    print('Hello ' + name)

In [136]:
my_func()

Hello Default Name

In [137]:
my_func('Ken')

Hello Ken

In [138]:
my_func(name='Ken')

Hello Ken

In [142]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [140]:
output = square(2)

In [141]:
output

4

In [150]:
def times2(var):
    return var*2
# can also be run like this
# def times2(var): return var*2

In [144]:
times2(5)

10

In [145]:
# map()

In [146]:
seq = [1,2,3,4,5]

In [149]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [151]:
t = lambda var: var*2

In [152]:
t(6)

12

In [154]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [155]:
filter(lambda num: num%2 == 0, seq)

In [156]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [157]:
list(filter(lambda num: num%2 != 0, seq))

[1, 3, 5]

In [158]:
s = 'hello my name is Sam'

In [159]:
s.lower()

'hello my name is sam'

In [160]:
s.upper()

'HELLO MY NAME IS SAM'

In [161]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [162]:
tweet = 'Go Sports! #Sports'

In [163]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [164]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [165]:
tweet.split('#')[1]

'Sports'

The above lines of code (162-165) are a way to grab hashtags from tweets.

In [166]:
d = {'k1': 1, 'k2': 2}

In [167]:
d

{'k1': 1, 'k2': 2}

In [168]:
d.keys()

dict_keys(['k1', 'k2'])

In [169]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [170]:
d.values()

dict_values([1, 2])

In [171]:
lst = [1,2,3]

In [173]:
lst.pop()

3

In [174]:
lst

[1, 2]

In [187]:
lst = [1,2,3,4,5]

In [188]:
item = lst.pop()

In [189]:
lst

[1, 2, 3, 4]

In [190]:
item

5

In [191]:
first = lst.pop(0)

In [192]:
lst

[2, 3, 4]

In [193]:
first

1

In [194]:
lst.append('new')

In [195]:
lst

[2, 3, 4, 'new']

In [196]:
'x' in [1,2,3]

False

In [197]:
'x' in ['x','y','z']

True

In [198]:
x = [(1,2),(3,4),(5,6)]

In [199]:
x[0]

(1, 2)

In [200]:
x[0][1]

2

In [201]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [202]:
for (a,b) in x:
    print(a)

1
3
5

In [203]:
for (a,b) in x:
    print(b)

2
4
6

In [204]:
for (a,b) in x:
    print(a,b)

1 2
3 4
5 6

In [205]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6