In [1]:
import pandas as pd

In [2]:
sal = pd.read_csv('Salaries.csv')

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [5]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [6]:
sal['EmployeeName']=='JOSEPH DRISCOLL']

SyntaxError: invalid syntax (<ipython-input-6-37b6d067e324>, line 1)

In [9]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [12]:
# ** What is the name of highest paid person (including benefits)?**
sal['TotalPayBenefits'].max()

567595.43

In [20]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [17]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [18]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [19]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [21]:
# ** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [29]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [32]:
sal['JobTitle'].nunique()

2159

In [33]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
ASSISTANT LAW LIBRARIAN                                  1
TRAFFIC HEARING OFFICER                                  1
SENIOR PSYCHIATRIC ORDERLY                               1
ASSISTANT TO THE DIRECTOR, PUBLIC AFFAIRS       RS       1
SENIOR FOOD SERVICE SUPERVISOR                           1
Pr DistAtty Invstgtor,SpecUnit                           1
PORT DIRECTOR                                            1
TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY       1
Supervising Mediator, UFCS                               1
BAKER                                                    1
Legislative Calendar Clerk                               1
Chief Investment Officer                                 1
TRAFFIC SIGNAL OPERATOR                                  1
Cashier 3                                                1
IS TECHNICIAN - ASSISTANT                                1
ENVIRONMENT HEALTH TECHNICIAN II                         1
Special Assistant 13                                     1
MAYORAL STAFF II                                         1
ADMINISTRATOR, SFGH MEDICAL CENTER                       1
CHIEF HOUSING INSPECTOR                                  1
VICTIM & WITNESS TECHNICIAN                              1
RENT BOARD SUPERVISOR                                    1
COURT PARALEGAL                                          1
SENIOR PHARMACY HELPER                                   1
SHELTER OFFICE SUPERVISOR                                1
CRANE MECHANIC SUPERVISOR                                1
ZOO CURATOR                                              1
EMERGENCY PROTECTIVE ORDERS COMMISSIONER                 1
SENIOR OFFSET MACHINE OPERATOR                           1
COURT EXECUTIVE OFFICER                                  1
Name: JobTitle, Length: 2159, dtype: int64

In [34]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [45]:
# sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [56]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [57]:
# sum(sal['JobTitle'].apply(lambda x: chief_string(x)))
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

In [58]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [59]:
sal['JobTitle'].apply(len)

0         46
1         31
2         31
3         36
4         44
5         25
6         34
7         30
8         34
9         38
10        48
11        31
12        27
13        17
14        34
15        34
16        17
17        37
18        34
19        26
20        26
21        26
22        25
23        34
24        25
25        15
26        25
27        34
28        36
29        44
          ..
148624    12
148625    16
148626    13
148627    15
148628    15
148629    18
148630     9
148631    27
148632    26
148633    15
148634    19
148635    15
148636    19
148637    22
148638    11
148639     9
148640    23
148641    12
148642    11
148643    23
148644    28
148645    25
148646    12
148647    27
148648     9
148649     9
148650    12
148651    12
148652    12
148653    26
Name: JobTitle, Length: 148654, dtype: int64

In [60]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000